@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#log {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #D1D1D1;
}