#Nouscoco {
    width: 75%;
    float: right;
    margin-left: 75%;
    margin-right: 15%;
    margin-bottom: 5%;
}

.button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.6em 2em;
    border: #5B83A6 solid 0.15em;
    border-radius: 0.25em;
    color: black;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
    height: 20px;
    margin: 0 auto;
}

.button p {
    z-index: 1;
}

.button:hover {
    color: #212121;
}

.button:active {
    border-color: black;
}

.button::after, .button::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: #93BFCF;
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
}

.button::before {
    left: 0;
    transform: translateX(-8em);
}

.button::after {
    right: 0;
    transform: translateX(8em);
}

.button:hover:before {
    transform: translateX(-1em);
}

.button:hover:after {
    transform: translateX(1em);
}

.button:active:before,
.button:active:after {
    background: black;
}


@media (max-width: 768px) {
    #Nouscoco {
        width: 100%;
        margin: 0 auto;
        float: none;
    }
}
