@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body{
    margin: 0;
    padding: 0;
}

footer {
    background-color: #93BFCF;
    width: 100%;
    left: 0;
    padding: 10px 0;
    bottom: 0;
}

.backgroud-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}


.txt-footer {
    text-align: center;
}